/* Action.css */
.cta-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;

  margin-top: 1.5em;
}

.cta-icons {
  display: flex;
  justify-content: center;
  align-items: center;
}

/* For small screens, adjust icon size and margins */
@media (max-width: 768px) {
  .cta-icons a {
    margin: 0.5rem; /* Adjust margin between icons */
  }

  .cta-icons a svg {
    width: 24px; /* Decrease icon size */
    height: 24px;
  }
  
  .cta-text {
    font-size: 1.5rem; /* Decrease text size */
    margin: 1rem 0; /* Adjust margin */
  }
}
