/* Action.css */
.cta-container {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  margin-bottom: 2.5em;
}


.cta-text {
  font-family: 'Helvetica', Arial, sans-serif;
  font-size: 16px; /* Adjust the font size as needed */
  font-weight: 400; /* Adjust the font weight as needed */
  color: #333; /* Customize the text color */
  text-align: center;
  margin: 1rem 0; /* Adjust margin as needed */
}

.cta-icons {
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative; /* Add this line */
  z-index: 1; /* Add this line to make sure the icons remain above the mask */
}

/* For small screens, adjust icon size and margins */
@media (max-width: 768px) {
  .cta-icons a {
    margin: 0.5rem;
  }

  .cta-icons a svg {
    width: 24px;
    height: 24px;
  }

  .cta-text {
    font-size: 1.5rem;
    margin: 1rem 0;
  }
}
