@import url('https://fonts.googleapis.com/css2?family=Caveat:wght@500&family=Ceviche+One&family=Luckiest+Guy&family=Merriweather+Sans&family=Rock+Salt&family=Scope+One&family=Special+Elite&display=swap');

:root {
  /* Primary Colors */
  --primary-color: #f9f9f9;      /* Very Light Gray */
  --secondary-color: #eaeaea;    /* Light Gray */
  --tertiary-color: #cccccc;     /* Gray */
  --accent-color: #ff5733;       /* Orange */

  /* Background Colors */
  --background-color: #c4c1c1;   /* Very Light Gray */
  
  /* Text Colors */
  --text-color: #f7f3f3;            /* Gray Text */
  --text-light: #999;            /* Light Gray Text */
  --text-accent: #ff5733;        /* Orange Text */
  
  /* Button Colors */
  --button-text: #fff;           /* White Text */
  
  /* Gradients */
  --gradient-primary: linear-gradient(to bottom, #8f8d8d, #4b4848);
  --gradient-accent: linear-gradient(to bottom, #ff5733, #ae948b);
  --gradient-secondary: linear-gradient(to bottom, #0a0a0a, #f9f9f9);
  --gradient-tertiary: linear-gradient(to bottom, #11010159, #0901012b);
}

/* Example usage */
body {
  width: 100vw;
  background: linear-gradient(140deg, rgba(249,249,249,1) 6%, rgba(234,234,234,1) 52%, rgba(249,249,249,1) 96%);
  color: var(--text-color);
}

.gradient-primary {
  background: var(--gradient-primary);
  /* Other styling properties */
}

.gradient-accent {
  background: var(--gradient-accent);
  /* Other styling properties */
}

.gradient-secondary {
  background: var(--gradient-secondary);
  /* Other styling properties */
}

.gradient-tertiary {
  background: var(--gradient-tertiary);
  /* Other styling properties */
}
