@import url('https://fonts.googleapis.com/css2?family=Caveat:wght@500&family=Ceviche+One&family=Luckiest+Guy&family=Merriweather+Sans&family=Rock+Salt&family=Scope+One&family=Special+Elite&display=swap');

:root {
  /* Primary Colors */
  --primary-color: #1a1a1a;      /* Dark Background */
  --secondary-color: #303030;    /* Dark Gray */
  --tertiary-color: #4d79ff;     /* Royal Blue */
  --accent-color: #ff5733;       /* Orange */

  /* Background Colors */
  --background-color: #1a1a1a;   /* Dark Background */
  
  /* Text Colors */
  --text-color: #fff;            /* White Text */
  --text-light: #d7d1d1;         /* Light Gray Text */
  --text-accent: #4d79ff;        /* Royal Blue Text */
  
  /* Button Colors */
  /* --button-bg: var(--primary-color); */
  --button-text: #fff;           /* White Text */
  
  /* Gradients */
  --gradient-primary: linear-gradient(to bottom, #1a1a1a, #303030);
  --gradient-accent: linear-gradient(to bottom, #ff5733, #ff7847);
  --gradient-secondary: linear-gradient(to bottom, #303030, #1a1a1a);
  --gradient-tertiary: linear-gradient(to bottom, #4d79ff, #3355cc);
}

/* Example usage */
body {
  width: 100vw;
  background: linear-gradient(140deg, rgba(34,34,94,1) 6%, rgba(46,46,47,1) 52%, rgba(34,34,94,1) 96%);
  color: var(--text-color);
}

/* .button {
  background: var(--button-bg);
  color: var(--button-text);
} */

.gradient-primary {
  background: var(--gradient-primary);
  /* Other styling properties */
}

.gradient-accent {
  background: var(--gradient-accent);
  /* Other styling properties */
}

.gradient-secondary {
  background: var(--gradient-secondary);
  /* Other styling properties */
}

.gradient-tertiary {
  background: var(--gradient-tertiary);
  /* Other styling properties */
}
